<nav class="navbar navbar-expand-lg navbar-light header">
    <div class="container-fluid">
        <div class="d-flex flex-row flex-fill" style="margin-left: 10%;">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/cube-logo-small.webp" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" (click)=" sendRoute('Electronics')" [routerLink]="'/category/electronics'">Electronics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  (click)=" sendRoute('Home & Garden')" class="nav-link" routerLink="#">
                            Home & Garden
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="sendRoute('Sports & Outdoor')"  routerLink="#"  >Sports & Outdoor</a>
                    </li>
                </ul>
                <form class="d-flex" style="margin-right: 20%;">
                    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" style="width: 40vw;">
                    <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cart-shopping"
                        class="svg-inline--fa fa-cart-shopping filter mt-2" xmlns="http://www.w3.org/2000/svg"
                        width="20" height="20" viewBox="0 0 576 512">
                        <path fill="currentColor"
                            d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z">
                        </path>
                    </svg>
                    <span class="rounded-full  d-flex items-center justify-content-center align-items-center">0</span>
                    <i></i>
                </form>
            </div>
        </div>
    </div>
</nav>