<div class="main-container product">
  <h2 class="main-title">Electronics</h2>
  <div class="breadcrumbs">
    <a href="/" class="link">
      <i class="fas fa-home"></i>
    </a>
    <div class="divider"><i class="fas fa-chevron-right"></i></div>
    <a href="#" class="link">Electronics</a>
    <div class="divider"><i class="fas fa-chevron-right"></i></div>
    <a href="#" class="link">Computers</a>
  </div>

  <div class="product__container">
    <div class="image-container">
      <img src="https://readonlydemo.vendure.io/assets/preview/09/juan-gomez-674574-unsplash__preview.jpg?w=540&amp;format=webp" alt="">
    </div>
    <div class="product__content">
      <p class="product__description">Let all your colleagues know that you are typing on this exclusive, colorful klicky-klacky keyboard. Huge travel on each keypress ensures maximum klack on each and every keystroke.</p>
      <span class="product__price"><span class="smaller">Up to </span>$89.87</span>
      <div class="product__buttons">
        <button class="btn to-cart">
          <i class="fas fa-cart-arrow-down"></i>
          <span class="text">Add to cart</span>
        </button>
        <button class="btn to-wishlist">
          <i class="fas fa-heart"></i>
          <span class="text">Add to wishlist</span>
        </button>
      </div>
      <span class="product__article">A4TKLA45535</span>
      <hr class="divider small">
      <div class="product__terms">
        <b>Some title</b>
        <p>Standard shipping: 3 - 5 working days. Express shipping: 1 - 3 working days.<br>
          Shipping costs depend on delivery address and will be calculated during checkout.<br>
          Returns are subject to terms. Please see the returns page for further information.</p>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="reviews__container">
    <h3 class="secondary-title">Recent reviews</h3>
    <div class="reviews__list">
      <div class="review__single">
					<span class="review__row">
						<span class="name">Minko G.</span>
						<span class="date">May 25, 2022</span>
					</span>
        <div class="review__stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="review__text">
          <b>I love it!</b>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="review__single">
					<span class="review__row">
						<span class="name">Minko G.</span>
						<span class="date">May 25, 2022</span>
					</span>
        <div class="review__stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="review__text">
          <b>I love it!</b>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="review__single">
					<span class="review__row">
						<span class="name">Minko G.</span>
						<span class="date">May 25, 2022</span>
					</span>
        <div class="review__stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="review__text">
          <b>I love it!</b>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
